* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 25px 0;
}

body {
  background-color: #bde0fe;
}

main {
  margin: 0 auto;
}

#in-value {
  width: 100%;
  font-size: 42px;
  text-align: right;
  padding: 8px;
  caret-color: transparent;
  background-color: #ffafcc;
}
#in-value:focus {
  outline: none;
  box-shadow: none;
}
#in-value:hover {
  cursor: default;
}

.calculator {
  margin: 0 auto;
  border: 1px solid black;
  width: 300px;
  padding: 16px;
  border-radius: 16px;
  background-color: #ffc8dd;
}

.invisible {
  visibility: hidden;
}

.text-box,
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.row-5 {
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: 0;
  flex: 0 1 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #cdb4db;
  font-size: 17px;
}
