* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DSEG7Classic";
  src: url("./fonts/digital-7-mono.ttf") format("truetype");
}

h1 {
  text-align: center;
  margin: 25px 0;
  font-family: "Roboto", sans-serif;
  font-size: 58px;
}

body {
  background-color: #bde0fe;
}

main {
  margin: 0 auto;
}

#in-value {
  width: 100%;
  font-size: 50px;
  text-align: right;
  padding: 8px;
  caret-color: transparent;
  background-color: #ffafcc;
  font-family: "DSEG7Classic", monospace;
}
#in-value:focus {
  outline: none;
  box-shadow: none;
}
#in-value:hover {
  cursor: default;
}

.calculator {
  margin: 0 auto;
  border: 1px solid black;
  width: 300px;
  padding: 16px;
  border-radius: 16px;
  background-color: #ffc8dd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.invisible {
  visibility: hidden;
}

.text-box,
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.row-5 {
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: 0;
  flex: 0 1 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #cdb4db;
  font-size: 17px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.075);
  transition: all 0.3s;
}

button:hover {
  background-color: #b8a2c5;
}
